In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

# 평균 구하기

정수를 담고 있는 배열 arr의 평균값을 return하는 함수 구현

In [54]:
def solution(arr):
    answer = 0
    answer = sum(arr) / len(arr)
    return answer

In [55]:
lst = [1, 2, 3, 4]
solution(lst)

2.5

# 짝수와 홀수

정수 num이 짝수인 경우 'Even'을 반환하고 홀수인 경우 'Odd'를 반환하는 함수 구현

In [13]:
def solution(num):
    answer = ''
    if num % 2 == 0:
        answer = 'Even'
    else:
        answer = 'Odd'
    return answer

In [14]:
num = 3
solution(num)

'Odd'

# 약수의 합

정수 n을 입력받아 n의 약수를 모두 더한 값을 리턴하는 함수 구현

In [20]:
# 12의 약수는 1, 2, 3, 4, 6, 12이다
# 1. n까지의 리스트를 담기
# 2. n을 리스트 내 값으로 나눴을 때 0이면 약수

def solution(n):
    answer = 0
    answer = sum([i for i in range(1, n + 1) if n % i == 0]) # 약수 찾아 모두 더하기
    return answer

In [21]:
n = 12
solution(n)

n = 5
solution(n)

28

6

# 문자열을 정수로 바꾸기

문자열 s를 숫자로 변환한 결과를 반환

- s의 맨 앞에는 부호가 올 수 있다

    -1234이면 -1234반환

In [22]:
def solution(s):
    answer = 0
    answer = int(s)
    return answer

In [23]:
s = '1234'
solution(s)

s = '-1234'
solution(s)

1234

-1234

# 나머지가 1이 되는 수 찾기

자연수 n이 매개변수로 주어집니다. n을 x로 나눈 나머지가 1이 되도록 하는 가장 작은 자연수 x를 리턴하도록 함수 구현

In [35]:
def solution(n):
    answer = 0
    ansewer = min([i for i in range(1, n + 1) if n % i == 1])
    return ansewer

In [37]:
n = 10
solution(n)

n = 12
solution(n)

3

11

# x만큼 간격이 있는 n개의 숫자

함수는 정수x와 자연수 n을 입력 받아, x부터 시작해 x씩 증가하는 숫자를 n개 지니는 리스트를 리턴하는 함수를 구현

In [47]:
# def solution(x, n):
#     answer = []
#     for i in range(n):
#         answer.append(x + i * x)
#     return answer

def solution(x, n):
    answer = [x + x * i for i in range(n)]
    return answer

In [48]:
x = 2; n = 5
solution(x, n)

x = 4; n = 3
solution(x, n)

x = -4; n = 2
solution(x, n)

[2, 4, 6, 8, 10]

[4, 8, 12]

[-4, -8]

# 자릿수 더하기

자연수 n이 주어지면, n의 각 자릿수의 합을 구해서 return하는 함수 구현

- n = 123이면 1 + 2 + 3 = 6을 return

In [51]:
def solution(n):
    answer = 0
    answer = sum([int(i) for i in str(n)])
    return answer

In [52]:
n = 123
solution(n)

n = 987
solution(n)

6

24

# 문자열 내 p와 y의 개수

대문자와 소문자가 섞여있는 문자열 s가 주어진다. s에 'p'의 개수와 'y'의 개수를 비교해 같으면 True, 다르면 False를 return하는 함수 구현

In [67]:
# def solution(s):
#     answer = True
#     s = s.lower()
#     p = len([i for i in s if i == 'p'])
#     y = len([i for i in s if i == 'y'])
    
#     if p != y:
#         answer = False
        
#     return answer

def solution(s):
    answer = True
    s = s.lower()
    
    if s.count('p') != s.count('y'):
        answer = False
        
    return answer

In [68]:
s = 'pPoooyY'
solution(s)

s = 'Pyy'
solution(s)

True

False

# 자연수 뒤집어 배열로 만들기 

자연수 n을 뒤집어 각 자리 숫자를 원소로 가지는 배열 형태를 반환하는 함수 구현

In [74]:
# def solution(n):
#     answer = [int(i) for i in str(n)][::-1]
#     return answer

def solution(n):
    answer =  list(map(int, reversed(str(n))))
    return answer

In [75]:
n = 12345
solution(n)

[5, 4, 3, 2, 1]

# 정수 제곱근 판별

임의의 양의 정수 n에 대해, n이 어떤 양의 정수 x의 제곱인지 아닌지 판단하려 한다
n이 양의 정수 x의 제곱근이라면 x + 1의 제곱을 리턴하고, n이 양ㅇ의 정수 x의 제곱이 아니라면 -1을 return하는 함수 구현

In [80]:
def solution(n):
    import numpy as np
    answer = 0
    sqnt_n = int(np.sqrt(n)) # 제곱근 구하기
    
    if sqnt_n ** 2 == n: # 주어진 수가 어떤 양의 정수의 제곱인지 판단
        answer = (sqnt_n + 1) ** 2
    else:
        answer = -1
        
    return answer

In [81]:
n = 121
solution(n)

n = 3
solution(n)

144

-1

# 정수 내림차순으로 배치하기

함수는 정수 n을 매개변수로 입력받는다. n의 각 자릿수를 큰 것부터 작은 순으로 새로운 정수를 리턴

n이 118372이면 873211을 리턴

In [21]:
def solution(n):
    answer = 0
    lst = sorted([i for i in str(n)], reverse = True)
    answer = int(''.join(lst))
    
    return answer

In [22]:
n = 118372
solution(n)

873211

# 하샤드 수

양의 정수 x가 하샤드 수이려면 x의 자릿수의 합으로 x가 나누어져야한다

18의 자릿수 합은 1 + 8 = 9이고 18은 9로 나누어 떨어지므로 18은 하샤드수이다

자연수 x를 입력받아 x가 하샤드 수인지 아닌지 검사하는 함수 구현

In [8]:
def solution(x):
    answer = True
    s = sum(int(i) for i in str(x))
    if x % s != 0:
        answer = False
    return answer

In [9]:
x = 10
solution(x)

x = 18
solution(x)

x = 11
solution(x)

True

True

False

# 두 정수 사이의 합

두 정수 a, b가 주어졌을 때 a와 b 사이에 속한 모든 정수의 합을 return하는 함수를 구현

a = 3, b = 5인 경우 3 + 4 + 5 = 12

In [19]:
# def solution(a, b):
#     answer = 0
#     if a > b:
#         answer = sum([i for i in range(int(b), int(a) + 1)])
#     else:
#         answer = sum([i for i in range(int(a), int(b) + 1)])
#     return answer

def solution(a, b):
    if a > b:
        a, b = b, a
    return sum(range(a, b + 1))

In [20]:
a = 3; b = 5
solution(a, b)

a = 5; b = 3
solution(a, b)

12

12

# 음양 더하기

정수들의 절댓값을 차례대로 담은 정수 배열 absolutes와 이 정수들의 부호를 차례대로 담은 불리언 배열 signs가 매개변수로 주어진다

실제 정수들의 합을 구하여 return하는 함수 구현

In [24]:
def solution(absolutes, signs):
    answer = 0
    for i in range(len(absolutes)):
        if signs[i] == False:
            absolutes[i] = int('-' + str(absolutes[i]))
    answer = sum(absolutes)
    return answer

In [25]:
absolutes = [4, 7, 12]
signs = [True, False, True]
solution(absolutes, signs)

absolutes = [1, 2, 3]
signs = [False, False, True]
solution(absolutes, signs)

9

0

# 콜라츠 추축

주어진 수가 1이 될 때까지 다음 작업을 반복하면, 모든 수를 1로 만들 수 있다

1 - 1. 입력된 수가 짝수라면 2로 나눈다

1 - 2. 입력된 수가 홀수라면 3을 곱하고 1을 더한다

2. 결과로 나온 수에 같은 작업을 1이 될 때까지 반복

In [35]:
def solution(num):
    answer = 0
    while num != 1:
        if num % 2 == 0:
            num = num // 2
            answer += 1
        elif num % 2 == 1:
            num = num * 3 + 1
            answer += 1
    if answer >= 500:
        answer = -1
            
    return answer

In [37]:
num = 6
solution(num)

num = 16
solution(num)

num = 626331
solution(num)

num = 1
solution(num)

8

4

-1

0

# 서울에서 김서방 찾기

string형 배열 seoul의 element중 'Kim'의 위치x를 찾아, '김서방은 x에 있다'는 string을 반환하는 함수를 구현

In [18]:
def solution(seoul):
    answer = ''
    name = 'Kim'
    ind = seoul.index(name)
    answer = '김서방은 {}에 있다'.format(ind)
    return answer

In [19]:
seoul = ['Jane', 'Kim']
solution(seoul)

'김서방은 1에 있다'

# 나누어 떨어지는 숫자 배열

array의 각 element 중 divisor로 나누어 떨어지는 값을 오름차순으로 정렬한 배열을 반환하는 함수를 구현

divisor로 나누어 떨어지는 element가 하나도 없다면 배열에 -1을 담아 return

In [29]:
def solution(arr, divisor):
    answer = sorted([i for i in arr if i % divisor == 0])
    if len(answer) == 0:
        answer = [-1]
    return answer

In [30]:
arr = [5, 9, 7, 10]
divisor = 5
solution(arr, divisor)

arr = [2, 36, 1, 3]
divisor = 1
solution(arr, divisor)

arr = [3, 2, 6]
divisor = 10
solution(arr, divisor)

[5, 10]

[1, 2, 3, 36]

[-1]

# 없는 숫자 더하기

0부터 9까지의 숫자 중 일부가 들어있는 정수 배열 numbers가 매개변수로 주어진다

numbers에서 찾을 수 없는 0부터 9까지의 숫자를 모두 찾아 더한 수를 return하는 함수 구현

In [34]:
# def solution(numbers):
#     answer = 0
#     for i in range(0, 10):
#         if i not in numbers:
#             answer += i
#     return answer

def solution(numbers):
    answer = 45 - sum(numbers) # 0 ~ 9까지의 합(45)에서 numbers의 합을 빼기
    return answer

In [35]:
numbers = [1, 2, 3, 4, 6, 7, 8, 0]
solution(numbers)

numbers = [5, 8, 4, 0, 6, 7, 9]
solution(numbers)

14

6

# 휴대폰 번호 가리기

프로그래머스 모바일은 개인정보 보호를 위해 고지서를 보낼 때 고객들의 전화번호의 일부를 가린다

전화번호가 문자열 phone_number로 주어졌을 때, 전화번호의 뒷 4자리를 제외한 나머지 숫자를 보두 *으로 가린 문자열을 return하는 함수 구현

In [36]:
def solution(phone_number):
    answer = ''
    answer = '*' * (len(phone_number) - 4) + phone_number[-4:]
    return answer

In [37]:
phone_number = '01033334444'
solution(phone_number)

phone_number = '0277778888'
solution(phone_number)

'*******4444'

'******8888'

# 제일 작은 수 제거하기

정수를 저장한 배열 arr에서 가장 작은 수를 제거한 배열을 return하는 함수 구현

return하는 배열이 빈 배열인 경우 배열에 -1을 채워 return

arr = [4, 3, 2, 1]인 경우 [4, 3, 2]를 return

arr = [10]인 경우 [-1]을 return

In [69]:
def solution(arr):
    arr = sorted(arr, reverse = True)
    answer = arr[:-1]
    if len(answer) == 0:
        answer = [-1]
    return answer

In [70]:
arr = [4, 3, 2, 1]
solution(arr)

arr = [10]
solution(arr)

[4, 3, 2]

[-1]

# 내적

길이가 같은 두 1차원 정수 배열 a, b가 매개변수로 주어진다. a와 b의 내적을 return하는 함수 구현

In [80]:
def solution(a, b):
    answer = 0
    for i in range(len(a)):
        answer += a[i] * b[i]
    return answer

In [82]:
a = [1, 2, 3, 4]
b = [-3, -1, 0, 2]
solution(a, b)

a = [-1, 0, 1]
b = [1, 0, -1]
solution(a, b)

3

-2

# 가운데 글자 가져오기

단어 s의 가운데 글자를 반환하는 함수를 구현

단어의 길이가 짝수라면 가운데 두 글자를 반환

In [92]:
# def solution(s):
#     answer = ''
#     if len(s) % 2 == 0:
#         answer = s[len(s) // 2 - 1 : len(s) // 2 + 1]
#     else:
#         answer = s[len(s) // 2]
#     return answer

def solution(s):
    answer = ''
    answer = s[(len(s)-1) // 2 : len(s) // 2 + 1]
    return answer

In [93]:
s = 'abced'
solution(s)

s = 'qwer'
solution(s)

'c'

'we'

# 수박수박수박수박수박수?

길이가 n이고, 수박수박수박수..와 같은 패턴을 유지하는 문자열을 return하는 함수 구현

예를 들어 n이 4이면 수박수박을 return하고 n이 3이면 수박수를 리턴

In [17]:
# def solution(n):
#     answer = ''
#     if n % 2 == 0:
#         answer = '수박' * int(n // 2)
#     else:
#         answer = '수박' * int(n // 2) + '수'
#     return answer

def solution(n):
    answer = '수박' * n
    answer = answer[:n]
    return answer

In [18]:
n = 3
solution(n)

n = 4
solution(n)

'수박수'

'수박수박'

# 약수의 개수와 덧셈

두 정수 left와 right가 매개변수로 주어집니다. left부터 right까지의 모든 수들 중에서 약수의 개수가 짝수인 수는 더하고 약수의 개수가 홀수인 수는 뺀 수를 return하는 함수 구현

In [19]:
def solution(left, right):
    answer = 0
    for i in range(left, right + 1):
        lst = [j for j in range(1, i + 1) if i % j == 0]
        if len(lst) % 2 == 0:
            answer += i
        else:
            answer -= i
    return answer

In [21]:
left = 13; right = 17
solution(left, right)

left = 24; right = 27
solution(left, right)

43

52

# 문자열 내림차순으로 배치하기

문자열 s에 나타나는 문자를 큰 것부터 작은 순으로 정렬해 새로운 문자열을 return하는 함수를 구현

s는 영문 대소문자로만 구성, 대문자는 소문자보다 작은 것으로 간주

In [30]:
def solution(s):
    answer = ''
    answer = ''.join(sorted(s, reverse = True))
    return answer

In [31]:
s = 'Zbcdefg'
solution(s)

'gfedcbZ'

# 부족한 금액 계산하기

새로 생긴 놀이기구는 인기가 많아 줄이 끊이질 않습니다. 이 놀이기구의 원래 이용료는 price원인데, 놀이기구를 N번 째 이용한다면 원래 이용료의 N배를 받기로 했습니다.

즉 처음 이용료가 100원이었다면 2번재는 200, 3번째는 300원으로 요금이 인상됩니다

놀이기구를 count번 타게 되면 현재 자신이 가지고 있는 금액에서 얼마가 모자라는지 return하는 함수 구현

단, 금액이 부족하지 않으면 0을 return

In [4]:
def solution(price, money, count):
    answer = 0
    tot = 0
    for i in range(1, count + 1):
        tot = tot + (i * price)
    if tot > money:
        answer = tot - money
    else:
        answer = 0
    return answer

In [2]:
price = 3
money = 20
count = 4
solution(price, money, count)

10

# 문자열 다루기 기본

문자열 s의 길이가 4 혹은 6이고, 숫자로만 구성돼있는지 확인해 주는 함수 구현

예를 들어 s가 'a234'이면 False를 return하고 '1234'라면 True를 return

In [15]:
# def solution(s):
#     answer = True
#     if len(s) in [4, 6] and s.isdigit() == True:
#         answer = True
#     else:
#         answer = False
#     return answer

def solution(s):
    return s.isdigit() and len(s) in [4, 6] # 사실이면 True 아니면 False를 반환

In [16]:
s = 'a1234'
solution(s)

s = '1234'
solution(s)

False

True

# 행렬의 덧셈

행렬의 덧셈은 행과 열의 크기가 같은 두 행렬의 같은 행, 같은 열의 값을 서로 더한 결과이다

2개의 행렬 arr1, arr2를 입력 받아 행렬 덧셈의 결과를 반환하는 함수 구현

In [75]:
# def solution(arr1, arr2):
#     for i in range(len(arr1)):
#         for j in range(len(arr1[0])):
#             arr1[i][j] += arr2[i][j]
#     return arr1

# a : [1, 2], [2, 3], b : [3, 4], [5, 6]
# c : 1, 2, 2, 3, d : 3, 4, 5, 6
def solution(arr1, arr2):
    answer =  [[c + d for c, d in zip(a, b)] for a, b in zip(arr1, arr2)]
    return answer

In [74]:
arr1 = [[1, 2], [2, 3]]
arr2 = [[3, 4], [5, 6]]
solution(arr1, arr2)

[[4, 6], [7, 9]]

# 직사각형 별찍기

이 문제는 표준 입력으로 두 개의 정수 n과 m이 주어집니다.

별(*) 문자를 이용해 가로의 길이가 n, 세로의 길이가 m인 직사각형 형태를 출력

In [83]:
a, b = map(int, input().strip().split(' '))

# for i in range(1, b + 1):
#     for j in range(1, a + 1):
#         print('*', end = '')
#     print('')

answer = ('*' * a + '\n') * b
print(answer)

5 3
*****
*****
*****

# 최대공약수와 최소공배수

두 수를 입력받아 두 수의 최대공약수와 최소공배수를 return하는 함수 구현

배열의 맨 앞에 최대공약수, 그 다음 최소공배수를 넣어 return

예를 들어 두 수 3, 12의 최대공약수는 3, 최소 공배수는 12이므로 [3, 12]를 return

In [94]:
def solution(n, m):
    answer = []
    
    # 최대공약수 구하기
    for i in range(min(n, m), 0, -1):
        if (n % i == 0) and (m % i == 0):
            answer.append(i)
            break
    
    # 최소 공배수 구하기
    for j in range(max(n, m), (n * m) + 1):
        if (j % n == 0) and (j % m == 0):
            answer.append(j)
            break
    
    return answer

In [95]:
n = 3
m = 12
solution(n, m)

[3, 12]

# 같은 숫자는 싫어

배열 arr가 있다

배열 arr의 각 원소는 숫자 0부터 9까지이다. 

이때, 배열 arr에서 연속적으로 나타나는 숫자는 하나만 남기고 전부 제거(단, 제거된 후 남은 수들을 반환할 때는 배열 arr의 원소들의 순서를 유지)

ex) arr = [1, 1, 3, 3, 0, 1, 1] -> [1, 3, 0, 1]

In [31]:
def solution(arr):
    answer = []
   
    for i in arr:
        if i not in answer or i != answer[-1]:
            answer.append(i)
        
    return answer

In [32]:
arr = [1, 1, 3, 3, 0, 1, 1]
solution(arr)

arr = [4, 4, 4, 3, 3]
solution(arr)

[1, 3, 0, 1]

[4, 3]

# 3진법 뒤집기

자연수 n이 매개변수로 주어진다

n을 3진법 상에서 앞뒤로 뒤집은 후, 이를 다시 10진법으로 표현한 수를 return

ex) n = 45, result = 7

45 -> 1200 -> 0021 -> 7

In [58]:
def solution(n):
    answer = 0
    ternary = ''
    
    # 3진수 만들기
    while n > 0:
        res = n % 3
        ternary = str(res) + ternary
        n //= 3
#     ternary = ternary[::-1]
    
    # 10진수로 변경하기
    for i in range(len(ternary)):
        answer += int(ternary[i]) * (3 ** i)
        
    return answer

In [66]:
def solution(n):
    tmp = ''
    
    while n:
        tmp += str(n % 3)
        n //= 3
        
    answer = int(tmp, 3)
    return answer

In [67]:
n = 45
solution(n)

7

# 예산

S사에서는 각 부서에 필요한 물품을 지원해 주기 위해 부서별로 물품을 구매하는데 필요한 금액을 조사했다

그러나 전체 예산이 정해져 있기 대문에 모든 부서의 물품을 구매해 줄 수는 없다

그래서 최대한 많은 부서의 물품을 구매할 수 있도록 하려고 한다

물품을 구매해 줄 때는 각 부서가 신청한 금액만큼을 모두 지원해 줘야 한다

예를 들어 1,000원을 신청한 부서에서는 정확히 1,000원을 지원해야 하며 1,000보다 적은 금액을 지원해 줄 수는 없다

부서별로 신청한 금액이 들어있는 배열 d와 예산 budget이 매개변수로 주어질 때, 최대 몇 개의 부서에 물품을 지원할 수 있는지 return

ex) d = [1, 3, 2, 5, 4], budget = 9, result = 3

In [96]:
def solution(d, budget):
    answer = 0
    
    d.sort()
    
    for i in range(len(d)):
        if d[i] <= budget:
            answer += 1
            budget -= d[i]
        else:
            break
    return answer

In [97]:
d = [1, 3, 2, 5, 4]
budget = 9
solution(d, budget)

d = [2, 2, 3, 3]
budget = 10
solution(d, budget)

3

4

# 이상한 문자 만들기

문자열 s는 한 개 이상의 단어로 구성

각 단어는 하나 이상의 공백문자로 구분되어 있다

각 단어의 짝수번째 알파벳은 대문자로, 홀수번째 알파벳은 소문자로 바꾼 문자열을 return

문자열 전체의 짝/홀수 인덱스가 아니라, 단어(공백을 기준)별로 짝/홀수 인덱스를 판단해야합니다.

ex) s = 'try hello world' -> 'TrY HeLlO WoRlD'

In [127]:
def solution(s):
    answer = ''
    for str in s.split(' '):
        for i in range(len(str)):
            if i % 2 ==0 :
                answer += str[i].upper()
            else:
                answer += str[i].lower()
        answer += ' '
    
    answer = answer[:-1]
    return answer

In [128]:
s = 'try hello world'
solution(s)

'TrY HeLlO WoRlD'

# 크기가 작은 부분 문자열

숫자로 이루어진 문자열 t, p가 주어질 때 t에서 p와 길이가 같은 부분 문자열 중에서, 이 부분 문자열이 나타내는 수가 p가 나타내는 수보다 작거나 같은 것이 나오는 횟수를 return

ex) t = '3141592'이고, p = '271'인 경우 t의 길이가 3인 부분 문자열은 314, 141, 415, 152, 592이다. 이 문자열이 나타내는 수 중 271보다 작거나 같은 수는 141, 152 2개이다

In [137]:
def solution(t, p):
    answer = 0
    res = []
    
    for i in range(len(t) - len(p) + 1):
        res.append(t[i:i+len(p)])
        if len(t[i:i+len(p)]) != len(p):
            break
    
    for i in res:
        if int(i) <= int(p):
            answer += 1
            
    return answer

In [139]:
def solution(t, p):
    answer = 0
    
    for i in range(len(t) - len(p) + 1):
        if int(p) >= int(t[i:i+len(p)]):
            answer += 1
            
    return answer

In [140]:
t = '3141592'
p = '271'
solution(t, p)

t = '500220839878'
p = '7'
solution(t, p)

2

8

# 삼총사

한국중학교에 다니는 학생들은 각자 정수 번호를 갖고있다

이 학교 학생 3명의 정수 번호를 더했을 때 0이 되면 3명의 학생은 삼총사라고 한다

예를 들어, 5명의 학생이 있고 각각의 정수 번호가 순서대로 -2, 3, 0, 2, -5일 때 첫 번째, 세번째, 네 번째 학생의 정수 번호를 더하면 0이므로 세 학생은 삼총사이다

또한 두 번째, 네 번째, 다섯 번째 학생의 정수 번호를 더해도 0이므로 세 학생도 삼총사이다

따라서 이 경우 한국중 학교에서는 두 가지 방법으로 삼총사를 만들 수 있다

한국중학교 학생들의 번호를 나타내는 정수 배열 number가 매개변수로 주어질 때, 학생들 중 삼총사를 만들 수 있는 방법의 수를 return

In [185]:
def solution(number):
    answer = 0
    res = []
    n = len(number)

    for i in range(n):
        for j in range(i + 1, n):
            for k in range(j + 1, n):
                res.append([number[i], number[j], number[k]])

    for num in res:
        s = 0
        for i in num:
            s += int(i)
        if s == 0:
            answer += 1
    
    return answer

In [206]:
def solution(number):
    answer = 0
    res = []
    n = len(number)

    for i in range(n):
        for j in range(i + 1, n):
            for k in range(j + 1, n):
                if number[i] + number[j] + number[k] == 0:
                    answer += 1
    return answer

In [207]:
number = [-2, 3, 0, 2, -5]
solution(number)

number = [-3, -2, -1, 0, 1, 2, 3]
solution(number)

2

5

# 최소직사각형

명합 지갑을 만드는 회사에서 지갑의 크기를 정하려고한다

다양한 모양과 크기의 명함들을 모두 수납할 수 있으면서, 작아서 들고 다니기 편한 지갑을 만들어야 한다

이러한 요건을 만족하는 지갑을 만들기 위해 디잔인팀은 모든 명함의 가로 길이와 세로 길이를 조사했다

아래는 4가지 명함의 가로 길이와 세로 길이를 나타낸다

명함번호, 가로길이, 세로 길기

1, 60, 50

2, 30, 70

3, 60, 30

4, 80, 40

가장 긴 가로 길이와 세로 길이가 각각 80, 70이기 때문에 80 x 70크기의 지갑을 만들면 모든 명함들을 수납할 수 있다. 하지만 2번 명함을 가로로 눕혀 수납하면 80 x 50 크기의 지갑으로 모든 명함들을 수납할 수 있다.

아때 지갑 크기는 4000이다

In [221]:
def solution(sizes):
    answer = 0
    w = []
    h = []

    for size in sizes:
        if size[0] > size[1]:
            w.append(size[0])
            h.append(size[1])
        else:
            w.append(size[1])
            h.append(size[0])
    
    answer += (max(w) * max(h))
    return answer

In [222]:
sizes = [[60, 50], [30, 70], [60, 30], [80, 40]]
solution(sizes)

sizes = [[10, 7], [12, 3], [8, 15], [14, 7], [5, 15]]
solution(sizes)

4000

120

# 시저 암호

어떤 문장의 각 알파벳을 일정한 거리만큼 밀어서 다른 알파벳으로 바꾸는 암호화 방식을 시저 암호라고 한다

예를 들어 'AB'는 1만큼 밀면 'BC', 3만큼 밀면 'DE'가 된다

'z'는 1만큼 밀면 'a'가 된다

문자열 s와 거리 n을 입력받아 s를 n만큼 민 암호문을 만드는 함수 구현

In [247]:
def solution(s, n):
    s = list(s)
    
    for i in range(len(s)):
        if s[i].isupper():
            s[i] = chr((ord(s[i]) - ord('A') +n) % 26 + ord('A'))
        elif s[i].islower():
            s[i] = chr((ord(s[i]) - ord('a') +n) % 26 + ord('a'))
            
    return ''.join(s)

In [248]:
s = 'AB'
n = 1
solution(s, n)

s = 'z'
n = 1
solution(s, n)

s = 'a B z'
n = 4
solution(s, n)

'BC'

'a'

'e F d'

# 가장 가까운 같은 글자

문자열 s가 주어졌을 때, s의 각 위치마다 자신보다 앞에 나왔으면서, 자신과 가장 가까운 곳에 있는 같은 글자가 어디 있는지 알고 싶다

예를 들어 s = 'banana'라고할 때, 각 글자들을 왼쪽부터 오른쪽으로 읽어 나가면서 다음과 같이 진행할 수 있다

    - b는 처름 나왔기 때문의 자신의 앞에 같은 글자가 없다 이는 -1로 표현
    
    - a는 처음 나왔기 때문에 자신의 앞에 같은 글자가 없다 이는 -1로 표현
    
    - n은 처은 나왔기 때문에 자신의 앞에 같은 글자가 없다 이는 -1로 표현
    
    - a는 자신보다 두 칸 앞에 a가 있다 이는 2로 표현
    
    - n도 자신보다 두 칸 앞에 n 이 있다 이는 2로 표현
    
    - a는 자신보다 두칸, 네 칸 앞에 a가 있다 이 중 가까운 것은 두 칸 앞이므로 2로 표현
    
    즉, [-1, -1, -1, 2, 2, 2]가 된다

In [71]:
def solution(s):
    answer = []
    str_lst = []
    
    for i in range(len(s)):
        if s[i] not in str_lst:
            str_lst.append(s[i])
            answer.append(-1)
        else:
            answer.append(str_lst[::-1].index(s[i]) + 1)
            str_lst.append(s[i])
    return answer

In [72]:
s = 'banana'
solution(s)

s = 'foobar'
solution(s)

[-1, -1, -1, 2, 2, 2]

[-1, -1, 1, -1, -1, -1]

# 숫자 문자열과 영단어

네오와 프로도가 숫자놀이를 하고 있다

네오가 프로도에게 숫자를 건넬 때 일부 자릿수를 영단어로 바꾼 카드를 건네주면 프로도는 원래 숫자를 찾는 게임이다

다음은 숫자의 일부 자릿수를 영단어로 바꾸는 예시이다

1478 -> 'one4seveneight'

234567 -> '23four5six6'

10203 -> '1zerotwozero3'

이렇게 숫자의 일부 자릿수가 영단어로 바뀌어졌거나, 혹은 바뀌지 않고 그대로인 문자열 s가 매개변수로 주어진다

s가 의미하는 원래 숫자를 return하도록 함수 구현

In [184]:
def solution(s):
    answer = ''
    dic = { 'zero' : '0',
               'one' : '1',
               'two' : '2',
              'three' : '3',
              'four' : '4', 
              'five' : '5',
               'six' : '6',
              'seven' : '7',
               'eight' : '8', 
               'nine' : '9'}
    i = 0

    while i < len(s):

        if s[:i + 1] in dic.keys():
            answer += dic[s[:i + 1]]
            s = s[i + 1:]
            i = 0
        elif s[i] in dic.values():
            answer += s[i]
            s = s[i + 1 :]
            i = 0
        else:
            i += 1
            
    answer = int(answer)
    return answer

In [186]:
dic = { 'zero' : '0',
           'one' : '1',
           'two' : '2',
          'three' : '3',
          'four' : '4', 
          'five' : '5',
           'six' : '6',
          'seven' : '7',
           'eight' : '8', 
           'nine' : '9'}

def solution(s):
    answer = s
    
    for key, value in dic.items():
        answer = answer.replace(key, value)
        
    answer = int(answer)
    
    return answer

In [187]:
s = 'one4seveneight'
solution(s)

s = '23four5six7'
solution(s)

s = '2three45sixseven'
solution(s)

s = '123'
solution(s)

1478

234567

234567

123

# K 번째 수

배열 array의 i번째 숫자부터 j번째 숫자까지 자르고 정렬했을 때, k번째에 있는 수를 구하려 한다

예를 들어 array가 [1, 5, 2, 6, 3, 7, 4], i = 2, j = 5, k = 3이라면

    1. array의 2번째부터 5번째까지 자르면 [5, 2, 6, 3]이다
    
    2. 1에서 나온 배열을 정렬하면 [2, 3, 5, 6]이다
    
    3. 2에서 나온 배열의 3번째 숫자는 5이다
   
배열 array, [i, j, k]를 원소로 가진 2차원 배열 commands가 매개변수로 주어질 때, commands의 모든 원소에 대해 앞서 설명한 연산을 적용했을 때 나온 결과를 배열에 담아 return

In [18]:
def solution(array, commands):
    answer = []
    
    for ind in commands:
        i = ind[0]
        j = ind[1]
        k = ind[2]
        
        lst = array[i - 1: j]
        lst.sort()
        answer.append(lst[k - 1])
    return answer

In [19]:
array = [1, 5, 2, 6, 3, 7, 4]
commands = [[2, 5, 3], [4, 4, 1], [1, 7, 3]]
solution(array, commands)

[5, 6, 3]

# 두 개 뽑아서 더하기

정수 배열 numbers가 주어진다

numbers에서 서로 다른 인덱스에 있는 두 개의 수를 뽑아 더해서 만들 수 있는 모든 수를 배열에 오름차순으로 담아 return하도록 함수 구현

ex) numbers = [2, 1, 3, 4, 1]

    2 = 1 + 1(numbers에 두개 존재)
    
    3 = 2 + 1
    
    4 = 1 + 3
    
    5 = 1 + 4 = 2 + 3
    
    6 = 2 + 4
    
    7 = 3 + 4
    
    따라서 [2, 3, 4, 5, 6]을 return

In [20]:
def solution(numbers):
    answer = []
    
    for i in range(len(numbers)):
        for j in range(i + 1, len(numbers)):
            if numbers[i] + numbers[j] not in answer:
                answer.append(numbers[i] + numbers[j])
    answer.sort()
    return answernumbers = [2, 1, 3, 4, 1]
solution(numbers)

[2, 3, 4, 5, 6, 7]

In [30]:
from itertools import combinations
def solution(numbers):
    answer = []
    
    for i in list(combinations(numbers, 2)):
        answer.append(sum(i))
    answer = list(set(answer))
    answer.sort()

    return answer

In [31]:
numbers = [2, 1, 3, 4, 1]
solution(numbers)

[2, 3, 4, 5, 6, 7]

# 푸드 파이트 대회

수웅이는 매달 주어진 음식을 빨리 먹는 푸드 파이트 대회를 개최한다

이 대회에서 선수들은 1대 1로 대결해 매 대결마다 음식의 종류와 양이 바뀐다

대결은 준비된 음식들을 일렬로 배치한 뒤 한 선수는 제일 왼쪽에 있는 음식부터 오른쪽으로, 다른 선수는 제일 오른쪽에 있는 음식부터 왼쪽으로 순서대로 먹는 방식으로 진행된다

중앙에는 물을 배치하고 물을 먼저 먹는 선수가 승리한다

<br>

이때, 대회의 공정성을 위해 두 선수가 먹는 음식의 종류와 양이 같아야 하며, 음식을 먹는 순서도 같아야 한다

또한 이 번 대회부터는 칼로리가 낮은 음식을 먼저 먹을 수 있게 배치하여 선수들이 음식을 더 잘 먹을 수 있게 하려고 한다

이번 대회를 위해 수웅이는 음식을 주문했는데, 대회의 조건을 고려하지 않고 음식을 주문하여 몇 개의 음식은 대회에 사용하지 못하게 되었다

<br>

예를 들어, 3가지 음식이 준비되어 있으며, 칼로기가 적은 순서대로 1번 음식을 3개, 2번 음식을 4개, 3번 음식을 6개를 준비했으며, 물을 편의상 0번 음식이라 칭한다면, 두 선수는 1번 음식 1개, 2번 음식 2개, 3번 음식 3개씩을 먹게 되므로 음식의 배치는 '1223330333221'이 된다

따라서 1번 음식 1개는 대회에서 사용하지 못 한다

수옹이가 준비한 음식의 양을 칼로리가 적은 순서대로 나타내는 정수배열 food가 주어졌을 때, 대회를 위한 음식의 배치를 나타내는 문자열을 return하는 함수 구현

In [54]:
def solution(food):
    answer = ''
    reanswer = ''
    
    for i in range(1, len(food)):
        answer += str(i) * (food[i] // 2)
    reanswer = answer[::-1]
    answer += str(0)
    answer += reanswer
    
    return answer

In [55]:
food = [1, 3, 4, 6]
solution(food)

food = [1, 7, 1, 2]
solution(food)

'111303111'

# 문자열 내 마음대로 정렬하기

문자열로 구성된 리스트 strings와 정수 n이 주어졌을 때, 각 문자열의 인덱스 n번째 글자를 기준으로 오름차순 정렬하여 한다

예를 들어 strings가 ['sun', 'bed', 'car']이고 n이 1이면 각 단어의 인덱스 1의 문자 'u', 'e', 'a'로 strings를 정렬한다

['car', 'bed', 'sun']을 return

In [76]:
def solution(strings, n):
    return sorted(strings, key = lambda x:(x[n], x))

In [77]:
strings = ['sun', 'bed', 'car']
n = 1
solution(strings, n)

strings = ["abce", "abcd", "cdx"]
n = 2
solution(strings, n)

['abcd', 'abce', 'cdx']

# [1차] 비밀지도

네오는 평소 프로도가 비상금을 숨겨놓는 장소를 알려줄 비밀지도를 손에 넣었다.

그런데 이 비밀지도는 숫자로 암호화되어 있어 위치를 확인하기 위해서는 암호를 해독해야 한다. 다행히 지도 암호를 해독할 방법을 적어 놓은 메모도 함께 발견했다

    1. 지도는 한 변의 길이가 n인 정사각형 배열 형태로, 각 칸은 공백 또는 벽('#') 두 종류로 이루어져 있다
    
    2. 전체 지도는 두 장의 지도를 겹쳐서 얻을 수 있다. 각각 '지도1'과 '지도2'라고 하자. 지도1 또는 지도2 중 어느 하나라도 벽인 부분은 전체 지도에서도 벽이다. 지도1과 지도2에서 모두 공백인 부분은 전체 지도에서도 공백이다
    
    3. 지도1과 지도2는 각각 정수 배열로 암호화되어 있다
    
    4. 암호화된 배열은 지도의 각 가로줄에서 벽 부분을 1, 공백 부분을 0으로 부호화했을 때 얻어지는 이진수에 해당하는 값의 배열이다

In [105]:
def solution(n, arr1, arr2):
    arr1_mat = []
    arr2_mat = []
    arr_res = []
    answer = []

    for i1, i2 in zip(arr1, arr2):
        arr1_mat.append(list(format(i1, '0{}b'.format(n))))
        arr2_mat.append(list(format(i2, '0{}b'.format(n))))

    for i in range(n):
        row = []
        for j in range(len(arr1_mat[0])):
            res = int(arr1_mat[i][j]) + int(arr2_mat[i][j])
            row.append(res)
        arr_res.append(row)

    for i in range(n):
        res = ''
        for j in range(len(arr_res[0])):
            if arr_res[i][j] == 0:
                res += ' '
            else:
                res += '#'
        answer.append(res)
    return answer

In [111]:
def solution(n, arr1, arr2):
    answer = []
    
    for i, j in zip(arr1, arr2):
        res = str(bin(i|j)[2:])
        res = res.rjust(n, '0')
        res = res.replace('1', '#')
        res = res.replace('0', ' ')
        answer.append(res)
    return answer

In [112]:
n = 5
arr1 = [9, 20, 28, 18, 11]
arr2 = [30, 1, 21, 17, 28]
solution(n, arr1, arr2)

n = 6
arr1 = [46, 33, 33 ,22, 31, 50]
arr2 = [27 ,56, 19, 14, 14, 10]
solution(n, arr1, arr2)

['######', '###  #', '##  ##', ' #### ', ' #####', '### # ']

# 콜라 문제

콜라 빈 병 2개를 가져다주면 콜라 1병을 주는 마트가 있다

빈병 20개를 가져다주면 몇 병을 받을 수 있나?(단 보유 중인 빈 병이 2개 미만이면 콜라를 받을 수 없다)

우선 빈 병 20개를 가져가 10병을 받는다 -> 5병을 받는다 -> 4병만 가져가 2병을 받는다 -> 1병을 받는다 -> 빈 병이 2개이므로 1병 받기

=> 10 + 5 + 2 + 1 + 1 = 19개를 받을 수 있다

이 문제는 빈 병 a개를 가져다주며면 b병을 주는 마트가 있을 때 빈 병 n개를 가져다주면 몇 병을 받을 수 있는지 계산하기

보유 중인 빈 병이 a개 미만이면, 추가적으로 빈 병을 받을 수 없다

In [122]:
def solution(a, b, n):
    answer = 0
    
    while a <= n:
        re_bottle = n % a
        n = (n // a) * b
        answer += n
        n += re_bottle
        
    return answer

In [123]:
a = 2
b = 1
n = 20
solution(a, b, n)

a = 3
b = 1
n = 20
solution(a, b, n)

9