# 평균 구하기

정수를 담고 있는 배열 arr의 평균값을 return하는 함수 구현

In [54]:
def solution(arr):
    answer = 0
    answer = sum(arr) / len(arr)
    return answer

In [55]:
lst = [1, 2, 3, 4]
solution(lst)

2.5

# 짝수와 홀수

정수 num이 짝수인 경우 'Even'을 반환하고 홀수인 경우 'Odd'를 반환하는 함수 구현

In [13]:
def solution(num):
    answer = ''
    if num % 2 == 0:
        answer = 'Even'
    else:
        answer = 'Odd'
    return answer

In [14]:
num = 3
solution(num)

'Odd'

# 약수의 합

정수 n을 입력받아 n의 약수를 모두 더한 값을 리턴하는 함수 구현

In [20]:
# 12의 약수는 1, 2, 3, 4, 6, 12이다
# 1. n까지의 리스트를 담기
# 2. n을 리스트 내 값으로 나눴을 때 0이면 약수

def solution(n):
    answer = 0
    answer = sum([i for i in range(1, n + 1) if n % i == 0]) # 약수 찾아 모두 더하기
    return answer

In [21]:
n = 12
solution(n)

n = 5
solution(n)

28

6

# 문자열을 정수로 바꾸기

문자열 s를 숫자로 변환한 결과를 반환

- s의 맨 앞에는 부호가 올 수 있다

    -1234이면 -1234반환

In [22]:
def solution(s):
    answer = 0
    answer = int(s)
    return answer

In [23]:
s = '1234'
solution(s)

s = '-1234'
solution(s)

1234

-1234

# 나머지가 1이 되는 수 찾기

자연수 n이 매개변수로 주어집니다. n을 x로 나눈 나머지가 1이 되도록 하는 가장 작은 자연수 x를 리턴하도록 함수 구현

In [35]:
def solution(n):
    answer = 0
    ansewer = min([i for i in range(1, n + 1) if n % i == 1])
    return ansewer

In [37]:
n = 10
solution(n)

n = 12
solution(n)

3

11

# x만큼 간격이 있는 n개의 숫자

함수는 정수x와 자연수 n을 입력 받아, x부터 시작해 x씩 증가하는 숫자를 n개 지니는 리스트를 리턴하는 함수를 구현

In [47]:
# def solution(x, n):
#     answer = []
#     for i in range(n):
#         answer.append(x + i * x)
#     return answer

def solution(x, n):
    answer = [x + x * i for i in range(n)]
    return answer

In [48]:
x = 2; n = 5
solution(x, n)

x = 4; n = 3
solution(x, n)

x = -4; n = 2
solution(x, n)

[2, 4, 6, 8, 10]

[4, 8, 12]

[-4, -8]

# 자릿수 더하기

자연수 n이 주어지면, n의 각 자릿수의 합을 구해서 return하는 함수 구현

- n = 123이면 1 + 2 + 3 = 6을 return

In [51]:
def solution(n):
    answer = 0
    answer = sum([int(i) for i in str(n)])
    return answer

In [52]:
n = 123
solution(n)

n = 987
solution(n)

6

24

# 문자열 내 p와 y의 개수

대문자와 소문자가 섞여있는 문자열 s가 주어진다. s에 'p'의 개수와 'y'의 개수를 비교해 같으면 True, 다르면 False를 return하는 함수 구현

In [67]:
# def solution(s):
#     answer = True
#     s = s.lower()
#     p = len([i for i in s if i == 'p'])
#     y = len([i for i in s if i == 'y'])
    
#     if p != y:
#         answer = False
        
#     return answer

def solution(s):
    answer = True
    s = s.lower()
    
    if s.count('p') != s.count('y'):
        answer = False
        
    return answer

In [68]:
s = 'pPoooyY'
solution(s)

s = 'Pyy'
solution(s)

True

False

# 자연수 뒤집어 배열로 만들기 

자연수 n을 뒤집어 각 자리 숫자를 원소로 가지는 배열 형태를 반환하는 함수 구현

In [74]:
# def solution(n):
#     answer = [int(i) for i in str(n)][::-1]
#     return answer

def solution(n):
    answer =  list(map(int, reversed(str(n))))
    return answer

In [75]:
n = 12345
solution(n)

[5, 4, 3, 2, 1]

# 정수 제곱근 판별

임의의 양의 정수 n에 대해, n이 어떤 양의 정수 x의 제곱인지 아닌지 판단하려 한다
n이 양의 정수 x의 제곱근이라면 x + 1의 제곱을 리턴하고, n이 양ㅇ의 정수 x의 제곱이 아니라면 -1을 return하는 함수 구현

In [80]:
def solution(n):
    import numpy as np
    answer = 0
    sqnt_n = int(np.sqrt(n)) # 제곱근 구하기
    
    if sqnt_n ** 2 == n: # 주어진 수가 어떤 양의 정수의 제곱인지 판단
        answer = (sqnt_n + 1) ** 2
    else:
        answer = -1
        
    return answer

In [81]:
n = 121
solution(n)

n = 3
solution(n)

144

-1

# 정수 내림차순으로 배치하기

함수는 정수 n을 매개변수로 입력받는다. n의 각 자릿수를 큰 것부터 작은 순으로 새로운 정수를 리턴

n이 118372이면 873211을 리턴

In [21]:
def solution(n):
    answer = 0
    lst = sorted([i for i in str(n)], reverse = True)
    answer = int(''.join(lst))
    
    return answer

In [22]:
n = 118372
solution(n)

873211

# 하샤드 수

양의 정수 x가 하샤드 수이려면 x의 자릿수의 합으로 x가 나누어져야한다

18의 자릿수 합은 1 + 8 = 9이고 18은 9로 나누어 떨어지므로 18은 하샤드수이다

자연수 x를 입력받아 x가 하샤드 수인지 아닌지 검사하는 함수 구현

In [8]:
def solution(x):
    answer = True
    s = sum(int(i) for i in str(x))
    if x % s != 0:
        answer = False
    return answer

In [9]:
x = 10
solution(x)

x = 18
solution(x)

x = 11
solution(x)

True

True

False

# 두 정수 사이의 합

두 정수 a, b가 주어졌을 때 a와 b 사이에 속한 모든 정수의 합을 return하는 함수를 구현

a = 3, b = 5인 경우 3 + 4 + 5 = 12

In [19]:
# def solution(a, b):
#     answer = 0
#     if a > b:
#         answer = sum([i for i in range(int(b), int(a) + 1)])
#     else:
#         answer = sum([i for i in range(int(a), int(b) + 1)])
#     return answer

def solution(a, b):
    if a > b:
        a, b = b, a
    return sum(range(a, b + 1))

In [20]:
a = 3; b = 5
solution(a, b)

a = 5; b = 3
solution(a, b)

12

12

# 음양 더하기

정수들의 절댓값을 차례대로 담은 정수 배열 absolutes와 이 정수들의 부호를 차례대로 담은 불리언 배열 signs가 매개변수로 주어진다

실제 정수들의 합을 구하여 return하는 함수 구현

In [24]:
def solution(absolutes, signs):
    answer = 0
    for i in range(len(absolutes)):
        if signs[i] == False:
            absolutes[i] = int('-' + str(absolutes[i]))
    answer = sum(absolutes)
    return answer

In [25]:
absolutes = [4, 7, 12]
signs = [True, False, True]
solution(absolutes, signs)

absolutes = [1, 2, 3]
signs = [False, False, True]
solution(absolutes, signs)

9

0

# 콜라츠 추축

주어진 수가 1이 될 때까지 다음 작업을 반복하면, 모든 수를 1로 만들 수 있다

1 - 1. 입력된 수가 짝수라면 2로 나눈다

1 - 2. 입력된 수가 홀수라면 3을 곱하고 1을 더한다

2. 결과로 나온 수에 같은 작업을 1이 될 때까지 반복

In [35]:
def solution(num):
    answer = 0
    while num != 1:
        if num % 2 == 0:
            num = num // 2
            answer += 1
        elif num % 2 == 1:
            num = num * 3 + 1
            answer += 1
    if answer >= 500:
        answer = -1
            
    return answer

In [37]:
num = 6
solution(num)

num = 16
solution(num)

num = 626331
solution(num)

num = 1
solution(num)

8

4

-1

0

# 서울에서 김서방 찾기

string형 배열 seoul의 element중 'Kim'의 위치x를 찾아, '김서방은 x에 있다'는 string을 반환하는 함수를 구현

In [18]:
def solution(seoul):
    answer = ''
    name = 'Kim'
    ind = seoul.index(name)
    answer = '김서방은 {}에 있다'.format(ind)
    return answer

In [19]:
seoul = ['Jane', 'Kim']
solution(seoul)

'김서방은 1에 있다'

# 나누어 떨어지는 숫자 배열

array의 각 element 중 divisor로 나누어 떨어지는 값을 오름차순으로 정렬한 배열을 반환하는 함수를 구현

divisor로 나누어 떨어지는 element가 하나도 없다면 배열에 -1을 담아 return

In [29]:
def solution(arr, divisor):
    answer = sorted([i for i in arr if i % divisor == 0])
    if len(answer) == 0:
        answer = [-1]
    return answer

In [30]:
arr = [5, 9, 7, 10]
divisor = 5
solution(arr, divisor)

arr = [2, 36, 1, 3]
divisor = 1
solution(arr, divisor)

arr = [3, 2, 6]
divisor = 10
solution(arr, divisor)

[5, 10]

[1, 2, 3, 36]

[-1]

# 없는 숫자 더하기

0부터 9까지의 숫자 중 일부가 들어있는 정수 배열 numbers가 매개변수로 주어진다

numbers에서 찾을 수 없는 0부터 9까지의 숫자를 모두 찾아 더한 수를 return하는 함수 구현

In [34]:
# def solution(numbers):
#     answer = 0
#     for i in range(0, 10):
#         if i not in numbers:
#             answer += i
#     return answer

def solution(numbers):
    answer = 45 - sum(numbers) # 0 ~ 9까지의 합(45)에서 numbers의 합을 빼기
    return answer

In [35]:
numbers = [1, 2, 3, 4, 6, 7, 8, 0]
solution(numbers)

numbers = [5, 8, 4, 0, 6, 7, 9]
solution(numbers)

14

6

# 휴대폰 번호 가리기

프로그래머스 모바일은 개인정보 보호를 위해 고지서를 보낼 때 고객들의 전화번호의 일부를 가린다

전화번호가 문자열 phone_number로 주어졌을 때, 전화번호의 뒷 4자리를 제외한 나머지 숫자를 보두 *으로 가린 문자열을 return하는 함수 구현

In [36]:
def solution(phone_number):
    answer = ''
    answer = '*' * (len(phone_number) - 4) + phone_number[-4:]
    return answer

In [37]:
phone_number = '01033334444'
solution(phone_number)

phone_number = '0277778888'
solution(phone_number)

'*******4444'

'******8888'

# 제일 작은 수 제거하기

정수를 저장한 배열 arr에서 가장 작은 수를 제거한 배열을 return하는 함수 구현

return하는 배열이 빈 배열인 경우 배열에 -1을 채워 return

arr = [4, 3, 2, 1]인 경우 [4, 3, 2]를 return

arr = [10]인 경우 [-1]을 return

In [69]:
def solution(arr):
    arr = sorted(arr, reverse = True)
    answer = arr[:-1]
    if len(answer) == 0:
        answer = [-1]
    return answer

In [70]:
arr = [4, 3, 2, 1]
solution(arr)

arr = [10]
solution(arr)

[4, 3, 2]

[-1]

# 내적

길이가 같은 두 1차원 정수 배열 a, b가 매개변수로 주어진다. a와 b의 내적을 return하는 함수 구현

In [80]:
def solution(a, b):
    answer = 0
    for i in range(len(a)):
        answer += a[i] * b[i]
    return answer

In [82]:
a = [1, 2, 3, 4]
b = [-3, -1, 0, 2]
solution(a, b)

a = [-1, 0, 1]
b = [1, 0, -1]
solution(a, b)

3

-2

# 가운데 글자 가져오기

단어 s의 가운데 글자를 반환하는 함수를 구현

단어의 길이가 짝수라면 가운데 두 글자를 반환

In [92]:
# def solution(s):
#     answer = ''
#     if len(s) % 2 == 0:
#         answer = s[len(s) // 2 - 1 : len(s) // 2 + 1]
#     else:
#         answer = s[len(s) // 2]
#     return answer

def solution(s):
    answer = ''
    answer = s[(len(s)-1) // 2 : len(s) // 2 + 1]
    return answer

In [93]:
s = 'abced'
solution(s)

s = 'qwer'
solution(s)

'c'

'we'

# 수박수박수박수박수박수?

길이가 n이고, 수박수박수박수..와 같은 패턴을 유지하는 문자열을 return하는 함수 구현

예를 들어 n이 4이면 수박수박을 return하고 n이 3이면 수박수를 리턴

In [ ]:
def solution(n):
    answer = ''
    return answer